<div>
	<div class="col-sm-10 col-sm-offset-2">

				<form class="form-horizontal" ng-controller="OnDeckController" id="applicationForm" name="applicationForm" role="form" ng-submit="processForm()" novalidate>
					<tabset>

						<tab popover="Enter the details pertaining to the buisness." popover-trigger="mouseenter">
							<tab-heading>
								<i class='fa fa-fax fa-fw'></i> Business Details
							</tab-heading>
							<div ng-include src="'views/application/v2/ondeck-business.html'"></div>
						</tab>	

						<tab popover="Enter the details pertaining to the owners of the business." popover-trigger="mouseenter">
							<tab-heading>
								<i class='fa fa-user fa-fw'></i> Owner Details
							</tab-heading>
							<div ng-include src="'views/application/v2/ondeck-owner.html'"></div>
						</tab>

						<tab popover="Enter the credit details of the business." popover-trigger="mouseenter">
							<tab-heading>
								<i class='fa fa-usd fa-fw'></i> Business Activity Details
							</tab-heading>
							<div ng-include src="'views/application/v2/ondeck-credit.html'"></div>
						</tab>

						<tab popover="Final review and submission to OnDeck." popover-trigger="mouseenter">
							<tab-heading>
								<i class='fa fa-download fa-fw'></i> Submit
							</tab-heading>
							<div ng-include src="'views/application/v2/ondeck-submit.html'"></div>
						</tab>

					</tabset>
					<div class="col-sm-2 col-sm-offset-10 text-right" >
						<button type="submit" class="btn btn-success btn-sm">
							<span class="glyphicon glyphicon-flash"></span> Next
						</button>
					</div>

				</form>
			</div>

	</div>
</div>