<!-- ############################################################### -->
<!-- Self Reported -->
<!-- ############################################################### -->
<div style="padding-left: 0; padding-top: 15px;">
	<div class="alert alert-info" role="alert">
		<p>Please note a key element of On Deck's ability to assess your loan application is our ability to assess the average cash flows of your business. The information requested below is an intrigal part of that assessment.
		</p>
	</div>


	<div class="col-sm-6" style="">
		<fieldset>
			<legend>Details</legend>

			<div class="form-group">
				<label for="revenue"  class="col-sm-4 control-label input-sm" style="text-align: left">Annual Revenue $</label>
				<div class="col-sm-8">
					<div class="input-group">
						<div class="input-group-addon input-sm">$</div>
						<input type="text" class="form-control input-sm" id="revenue"  placeholder="">
					</div>
				</div>
			</div>

			<!-- ############################################################### -->
			<!-- Credit Union Name & Address -->
			<!-- ############################################################### -->
			<div class="form-group">
				<label for="creditUnionName" class="col-sm-4 control-label input-sm" style="text-align: left">Credit Union/Bank</label>
				<div class="col-sm-8">
					<input type="text" class="form-control input-sm" id="creditUnionName"  placeholder="Name of the credit union or bank">
				</div>
			</div>

			<div class="form-group" >
				<label for="creditUnionBranch" class="col-sm-4 control-label input-sm" style="text-align: left">Branch</label>
				<div class="col-sm-8">
					<input type="text" class="form-control input-sm" id="creditUnionName"  placeholder="Branch name">
				</div>
			</div>


			
		</fieldset>
	</div>


	<div class="col-sm-6" style="">
		<fieldset>
			<legend>Credit Card</legend>

			<div class="alert alert-warning" role="alert" style="padding: 5px;">
				<p>Do you have a Corporate Credit Card Account that has been open more than 3 months? If so :
				</p>
			</div>
			<div class="form-group">
				<label for="averageCreditCardVolume"  class="col-sm-4 control-label input-sm" style="text-align: left">Credit Card Balance</label>
				<div class="col-sm-8">
					<div class="input-group">
						<div class="input-group-addon input-sm">$</div>
						<input type="text" class="form-control input-sm" id="averageCreditCardVolume"  placeholder="">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="transactionCount" class="col-sm-4 control-label input-sm" style="text-align: left">Monthly Transactions</label>
				<div class="col-sm-8">
					<input type="text" class="form-control input-sm" id="transactionCount"  placeholder="">
				</div>
			</div>
		</fieldset>
	</div>

	<div class="col-sm-6" style="">
		<fieldset>
			<legend>Statements</legend>

			<div class="alert alert-warning col-sm-12" role="alert" style="padding: 5px;">
				<p>Scan and upload 3 - 6 months of business banking statements.
				</p>
			</div>
			<div class="form-group">
				<div class="col-sm-12 col-sm-offset-3"  style="padding-top:0; padding-bottom: 5px;">
					<button type="button" class="btn btn-primary btn-sm" popover="Click here to add a new statement to the application" popover-trigger="mouseenter">Add Statement</button>
					<button type="button" class="btn btn-danger btn-sm" popover="Click here to remove the statement fro mthe application" popover-trigger="mouseenter">Remove Statement</button>
				</div>
				<div class="col-sm-12">
					<table class="table table-bordered table-hover table-condensed">
						<thead>
							<tr class="active">
								<th data-field="select"  style="text-align: center; font-size: 14px;">Select</th>
								<th style="font-size: 14px;" data-field="documentDescription">Description</th>
								<th  style="font-size: 14px;" data-field="documentId">Filename</th>
								<th  style="font-size: 14px;" data-field="documentDate">Date</th>
							</tr>
						</thead>
						<tr>
							<td  style="text-align: center;font-size: 14px;"><input type="checkbox"></td>
							<td  style="font-size: 12px;">January - March</td>
							<td  style="font-size: 12px;">Q1Statements.pdf</td>
							<td style="font-size: 12px;">Oct 27, 2014</td>
						</tr>
						<tr>
							<td style="text-align: center;font-size: 14px;"><input type="checkbox"></td>
							<td style="font-size: 12px;">April - June</td>
							<td style="font-size: 12px;">Q2Statements.pdf</td>
							<td style="font-size: 12px;">Oct 27, 2014</td>
						</tr>
					</table>
				</div>
				<div class="form-group">
					<label for="averageBalance"  class="col-sm-4 control-label input-sm" style="text-align: left; margin-left: 22px;">Average Balance</label>
					<div class="col-sm-5">
						<div class="input-group">
							<div class="input-group-addon input-sm">$</div>
							<input type="text" class="form-control input-sm" id="averageBalance"  placeholder="">
						</div>
					</div>


				</div>
			</div>
		</fieldset>
	</div>


	<div class="col-sm-6" style="">
		<fieldset>
			<legend>Merchant Advance</legend>

			<div class="alert alert-warning" role="alert" style="padding: 5px;">
				<p>Do you have a Merchant Cash Advance loan facility, if so:
				</p>
			</div>
			<div class="form-group">
				<label for="mcaBalance"  class="col-sm-6 control-label input-sm" style="text-align: left">Merchant Cash Advance Balance</label>
				<div class="col-sm-6">
					<div class="input-group">
						<div class="input-group-addon input-sm">$</div>
						<input type="text" class="form-control input-sm" id="mcaBalance"  placeholder="">
					</div>
				</div>
			</div>
			<div class="alert alert-warning col-sm-12" role="alert" style="padding: 5px;">
				<p>Do you currently rent your office/business premises, if so:
				</p>
			</div>
			<div class="form-group" style="">
				<label for="landlordPhone" class="col-sm-4 control-label input-sm" style="text-align: left">Landloard Telephone #</label>
				<div class="col-sm-8">
					<input type="tel" class="form-control input-sm" id="landlordPhone"  placeholder="Phone number">
				</div>
			</div>
			<div class="form-group">
				<label for="landlordName" class="col-sm-4 control-label input-sm" style="text-align: left">Landlord Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control input-sm" id="landlordName"  placeholder="Contact Name">
				</div>
			</div>
		</fieldset>
	</div>


</div>
<!--
>



-->
</div>