<div style="padding-left: 10px; padding-top: 15px;">
	<div class="alert alert-info" role="alert">
		<p>This screen will provide a final summary of the application, as well as request any necessary permissions to submit the application to OnDeck.
		</p>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" value="">
			I grant persmission to pull my bureau
		</label>
	</div>
	<div class="checkbox disabled">
		<label>
			<input type="checkbox" value="" >
			I grant permission to submit my information to OnDeck
		</label>
	</div>
	<div class="col-sm-12 col-sm-offset-5" style="padding-top: 25px;">
		<button class="btn btn-primary">Submit</button>
	</div>
</div>